*, html {
  padding: 0px;
  margin: 0px;
  letter-spacing: 1.1px;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}
nav {
  font-family: 'Abel', sans-serif;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  border-bottom: 4px solid #2196f3;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 1.1px;
}
.nav {
    margin: auto;
    padding: 15px 50px;
    max-width: 1200px;
}


.app-wrapper h1 {
  text-align: center;
}