<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>Chad Eddington</title>
  <style>
    *, html {
      padding: 0px;
      margin: 0px;
    }
    body {
      background-color: #EEE;
      padding: 0px;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
    }
    nav {
      background-color: black;
      font-family: monospace;
      color: white;
    }
    nav h1 a {
      text-decoration: none;
      color: white;
    }
    .nav {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    }
    .app-wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 20px;
      background-color: #EEE;
      min-height: calc(100vh - 140px);
    }

    .app-wrapper h1 {
      text-align: center;
    }
  </style>
</head>
