<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/global-head.ejs %>
  <title>Chad Eddington</title>
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
  <section class="intro-card">
    <canvas id="canvas"></canvas>
    <div class="intro">
      Hello, I'm Chad.<br>
      I build web things.
    </div>
  </section>

  <div class="projects-wrapper">
    <h3>Projects</h3>
    <div class="projects">
      <a id="cal" href="/calendar">
        <img class="preview" src="../img/calendar.png" />
      </a href="/calendar">
      <a href="/masonry">
        <img class="preview" src="../img/grid.png" />
      </a>

      <a href="/snake">
        <img class="preview" src="../img/snake.png" />
      </a>
    </div>
  </div>
  <script>
    const wrapper = document.querySelector('.intro-card');
    const canvas = document.querySelector('#canvas');
    canvas.width = wrapper.getBoundingClientRect().width;
    canvas.height = wrapper.getBoundingClientRect().height;
    const ctx = canvas.getContext('2d');
    // const items = [
    //   {x: 100, y: 100, w: 50},
    //   {x: 200, y: 100, w: 50},
    //   {x: 300, y: 100, w: 50},
    //   {x: 400, y: 100, w: 50},
    //   {x: 500, y: 100, w: 50},
    //   {x: 600, y: 100, w: 50},
    //   {x: 700, y: 100, w: 50},
    //   {x: 800, y: 100, w: 50},
    //   {x: 900, y: 100, w: 50},
    //   {x: 1000, y: 100, w: 50}
    // ]
    const items = [];
    function random(min, max) {
      return Math.random() * (max - min) + min;
    }
    for (let i = 1; i <= 10; i++) {
      items.push({x: random(100, canvas.width - 150), y: random(-100, canvas.height), w: random(20,100), s: random(1, 6)})
    }
    let x = 100;
    let y = 100;

    
    setInterval( () => {
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      ctx.strokeStyle = "lightblue";
      items.forEach( item => {
        item.y += item.s;
        if (item.y >= canvas.height) {
          item.y = -100;
          item.x = random(100, canvas.width);
          item.w = random(20, 100);
          item.s = random(1, 6);
        }
        ctx.beginPath();
        ctx.arc(item.x, item.y, item.w, 0, 2 * Math.PI);
        ctx.stroke();
      })
    }, 20)
  
  </script>
  <%- include partials/footer.ejs %>
</body>
</html>
