<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/global-head.ejs %>
  <title>Chad Eddington</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <%- include partials/nav.ejs %>
  <div class="app-wrapper">
    <div class="hero">
      <h2>I build web apps.</h2>
    </div>
  
    <div class="section-label">
      Stuff.
    </div>

    <div class="flex-wrapper">
      <div class="grid-item-50 snake card">
        <a href="/snake">
        <h3>
          HTML5 Snake
        </h3>
        <p>
          The classic Snake game with an HTML flavor.
        </p>
        </a>
          
      </div>

      <div class="grid-item-50 typewriter card">
        <a href="/typewriter"> 
        <h3>
          Typewriter
        </h3>
        <p>
          Watch your text print one letter at a time.
        </p>
        </a>
      </div>
    </div>

    <div class="calendar card">
      <a href="/calendar">
      <h3>
        Memory Calendar
      </h3>
      <p>
        Take a stroll down memory lane by taking a look back to last year.
      </p>
      </a>
    </div>
    
  </div>
</body>
</html>
