<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/global-head.ejs %>
  <title>Chad Eddington</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <%- include partials/nav.ejs %>
  <div class="intro-card">
    <div class="intro">
      Hi, I'm Chad.<br>
      I build web things.
    </div>
  </div>

  <div class="projects-card">
    <div class="projects">
      <h3>Projects</h3>
      <a href="/calendar">
        <img class="preview" src="../img/calendar.png" />
      </a href="/calendar">
    </div>
  </div>
  <div class="sandbox-card">
    <div class="projects">
      <h3>Sandbox</h3>
      <a href="/masonry">
        <img class="preview" src="../img/perf-grid.png" />
      </a>

      <a href="/snake">
        <img class="preview" src="../img/snake.png" />
      </a>
    </div>
  </div>
</body>
</html>
