<html>
  <%- include partials/global.ejs %>
  <body>
    <%- include partials/nav.ejs %>
  <style>
    h1.header {
      text-align: center;
      margin: 50px;
    }

    .day {
      border: 1px solid white;
      background-color: lightgrey;
      display: inline-block;
      width: 200px;
      height: 200px;
      position: relative;
    }

    .day img {
      width: 100%;
    }

    .wrapper {
      max-width: 1420px;
      max-height: 1200px;
      width: 100vw;
      height: 100vw;
      margin: auto;
    }

    .date {
      position: absolute;
      background-color: white;
      right: 0px;
      z-index: 2;
      padding: 0 5px;

    }

    @media only screen and (max-width: 1415px) {
      .day {
        width: 150px;
        height: 150px;
      }
      .wrapper {
        max-width: 1065;
      }
    }

    @media only screen and (max-width: 960px) {
      .day {
        width: 100px;
        height: 100px;
      }
      .wrapper {
        max-width: 715px;
      }
    }

    @media only screen and (max-width: 767px) {
      .day {
        width: 100%;
        height: auto;
      }

      .date {
        padding: 15px 25px;
      }

      .wrapper {
        max-width: 715px;
      }
    }



  </style>

  <h1 class='header'>
    Image Calendar
  </h1>
  <div class="wrapper">
    <div class="cal-wrapper">
    </div>
  </div>

  <script>
    var date = new Date();
    var months = ['January', 'February', 'March','April','May','June','July','August','September','October','November','Decembebr'];
    document.querySelector('.header').innerText = months[date.getMonth()];
    var cal = document.querySelector('.cal-wrapper');
    cal.innerHTML = '';
    for (var i = 0; i < 42; i++) {
      var day = document.createElement('div');
      day.setAttribute('class', 'day');

      if (i > 2 && i < 34) {
        var date = document.createElement('span');
        date.innerText = i - 2;
        date.setAttribute('class', 'date');
        var img = document.createElement('img');
        img.setAttribute('src', "http://lorempixel.com/200/200/city");
        day.appendChild(date);
        day.appendChild(img);
      }
      cal.appendChild(day);
    }
  </script>
</html>
