<html>
  <head>
    <%- include partials/global-head.ejs %>
  </head>
  <link rel="stylesheet" href="css/calendar.css">

  <body>
  <%- include partials/nav.ejs %>
  <div class="modal">
    <div class="overlay">
    </div>
    <div class='modal-wrapper'>
      <div class="modal-content">
        <div class="img-controls">
          <button class='prev-btn img-control'>Previous</button>
          <button class='next-btn img-control'>Next</button>
        </div>
        <img class='preview' src="" alt="">
      </div>
    </div>
  </div>

<div class="intro-panel">
  <div class="header-panel">
    <h1 class='header'>
      The Memory Calendar
    </h1>
  </div>

  <p>
    This may look like a regular calendar,
    but you can give this calendar super powers! Clicking the button will fetch
    your photos from last year and display them on the day they were taken!
    <br>
    <br>
    Wouldn't it be fun to see what you were up to this very day last year?
  </p>

  <div class='btn-wrapper'>
    Press the button to get super powers!
    <button onClick='login()'>Get Google Photos</button>
  </div>

  <div class="spinner">
    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="mediumslateblue" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 25 25"
          to="360 25 25"
          dur="0.6s"
          repeatCount="indefinite"/>
        </path>
    </svg>
    <div class="loading-text"></div>
  </div>

  </div>
<div class="cal-panel">
  <h1 class='month-header header'>
    Memory Calendar
  </h1>

  <div class="wrapper">
    <div class="cal-wrapper">
    </div>
  </div>
</div>

  <script src="https://apis.google.com/js/api.js"></script>
  <script src="js/calendar.js"></script>
</html>
