<!DOCTYPE html>
<html lang="en">
<%- include partials/global.ejs %>
<body>
  <%- include partials/nav.ejs %>
  <div class="app-wrapper">
    <h2>Welcome</h2>
    <br>
    <p>
      Currently, this site is in development.
    </p>
    <p> It will be a place where I come
      and try new things. I may add a blog at some point.
    </p>
    <br>
    <p>
      Why don't you try out <a href="/snake">HTML Snake</a> while you wait?
    </p>
  </div>
</body>
</html>
