<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mason</title>
  <style>
    .grid {
       display: grid;
       grid-gap: 10px;
       grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
       grid-auto-flow: dense;
       grid-auto-rows: 10px;

    }
    .photo {
       width: 200px;
       grid-column-end: span 1;
    }
  </style>
  <!-- To help with triggering resizing function when the images arrive -->
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

</head>
<body>
  <h1>CSS Grid Masonry</h1>

  <div class="grid">
    <div class="photo">
      <img src="http://lorempixel.com/200/400/food" alt="">
    </div>
    <div class="photo">
      <img src="http://lorempixel.com/200/200/city" alt="">
    </div>
    <div class="photo">
      <img src="http://lorempixel.com/200/400/sports" alt="">
    </div>
    <div class="photo">
      <img src="http://lorempixel.com/200/100/cats" alt="">
    </div>
    <div class="photo">
      <img src="http://lorempixel.com/200/400/technics" alt="">
    </div>
    <div class="photo">
      <img src="http://lorempixel.com/200/300/transport" alt="">
    </div>
    <div class="photo">
      <img src="http://lorempixel.com/200/200/city" alt="">
    </div>
  </div>
  <script>
  function resizeGridItem(item){
    grid = document.getElementsByClassName("grid")[0];
    rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
    rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
    rowSpan = Math.ceil((item.querySelector('img').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
      item.style.gridRowEnd = "span "+rowSpan;
    }

    function resizeAllGridItems(){
    allItems = document.getElementsByClassName("photo");
    for(x=0;x<allItems.length;x++){
      resizeGridItem(allItems[x]);
    }
    }

    function resizeInstance(instance){
    item = instance.elements[0];
    resizeGridItem(item);
    }

    window.onload = resizeAllGridItems();
    window.addEventListener("resize", resizeAllGridItems);

    allItems = document.getElementsByClassName("photo");
    for(x=0;x<allItems.length;x++){
    imagesLoaded( allItems[x], resizeInstance);
    }
  </script>
</body>
</html>
