<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/global-head.ejs %>
  <title>Chad Eddington</title>
  <style>
    nav a {
      color: black;
    }
    .grid-wrapper {
      margin-top: 150px;
    }

    .grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(200px,210px));
      grid-auto-flow: dense;
      grid-auto-rows: 10px;

    }
    .photo {
       width: 200px;
       grid-column-end: span 1;
    }
  </style>
  <!-- To help with triggering resizing function when the images arrive -->
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

</head>
<body>
  <%- include partials/nav.ejs %>
  <div class="grid-wrapper">
    
    <h1>CSS Grid Masonry</h1>

    <div class="grid">
      <div class="photo">
        <img src="http://lorempixel.com/200/400/technics" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/200/city" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/400/sports" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/100/cats" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/400/food" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/300/transport" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/200/abstract" alt="">
      </div>

      <div class="photo">
        <img src="http://lorempixel.com/200/400/business" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/200/nightlife" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/400/fashion" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/100/people" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/400/" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/300/" alt="">
      </div>
      <div class="photo">
        <img src="http://lorempixel.com/200/200/" alt="">
      </div>
    </div>
  </div>
  <script>
  function resizeGridItem(item){
    grid = document.getElementsByClassName("grid")[0];
    rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
    rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
    rowSpan = Math.ceil((item.querySelector('img').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
      item.style.gridRowEnd = "span "+rowSpan;
    }

    function resizeAllGridItems(){
    allItems = document.getElementsByClassName("photo");
    for(x=0;x<allItems.length;x++){
      resizeGridItem(allItems[x]);
    }
    }

    function resizeInstance(instance){
    item = instance.elements[0];
    resizeGridItem(item);
    }

    window.onload = resizeAllGridItems();
    window.addEventListener("resize", resizeAllGridItems);

    allItems = document.getElementsByClassName("photo");
    for(x=0;x<allItems.length;x++){
      imagesLoaded( allItems[x], resizeInstance);
    }
  </script>
</body>
</html>
