<!DOCTYPE html>

<html lang="en">
<head>
  <%- include partials/global-head.ejs %>
</head>
<style>
  #message {
    font-size: 18px;
    height: 40px;
    flex: 1;
  }
  button {
    padding: 10px;
    font-size: 18px;
    background-color: deepskyblue;
    width: 100px;
  }

  .input-wrapper {
    margin: auto;
    display: flex;
    text-align: center;
    max-width: 600px;
  }

  .app-wrapper {
    position: relative;
    top: 200px;
  }

  #paper {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: monospace;
    width: 80%;
    max-width: 580px;
    padding: 10px;
    font-size: 24px;
    min-height: 200px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 4px #ddd;
  }
</style>
<body>
  <%- include partials/nav.ejs %>
  <div class="app-wrapper">
    <h1>Typewriter</h1>
    <br>

    <div class="input-wrapper">
      <input name="message" id="message" autofocus placeholder="Enter text"></input>
      <button onClick='print()'>Print</button>
    </div>

    <div id="paper"></div>
  </div>



<script>
  var paper = document.querySelector('#paper');

  function updateMessage(val) {
    alert(val)
  }

  function type(content, i) {
  if (i >= content.length) {
      return;
    }
    setTimeout(function() {
      paper.append(content.charAt(i))
      type(content, i + 1)
    }, 50)
  }

  function print() {
    var content = document.querySelector('#message').value;
    if (!content) {
      var content = 'This is a sample typewriter program that will type out the content of this message. Give it a try!';
    }
    paper.innerHTML = '';
    type(content, 0)
  }
</script>
</body>
</html>
